# All the default Omarchy aliases and functions
# (don't mess with these directly, just overwrite them here!)
source ~/.local/share/omarchy/default/bash/rc

# Add your own exports, aliases, and functions here.
#
# Make an alias for invoking commands you use constantly
# alias p='python'

export BW_SESSION=$(bw login {{- .email }} --raw)

eval "$(thefuck --alias)"
alias cdrep='cd ~/repos/'
alias vimdiff='nvim -d'
alias pullsub="git pull -r --autostash && git submodule update --init --recursive"
alias pullsh="git pull -r --autostash && git push"
alias cdrep="cd /home/nrv/repos"
alias sre="cd /home/nrv/Documents/SREngine"
alias srcvenv="source .venv/bin/activate"

alias ga='git add'
alias gap='ga --patch'
alias gb='git branch'
alias gba='gb --all'
alias gc='git commit'
alias gca='gc --amend --no-edit'
alias gce='gc --amend'
alias gco='git checkout'
alias gcl='git clone --recursive'
alias gd='git diff --output-indicator-new=" " --output-indicator-old=" "'
alias gds='gd --staged'
alias gi='git init'
alias gl='git log --graph --all ^origin/gh-pages --pretty=format:"%C(magenta)%h %C(white) %an  %ar%C(blue)  %D%n%s%n"'
alias gm='git merge'
alias gn='git checkout -b'  # new branch
alias gp='git push'
alias gr='git reset'
alias gs='git status --short'
alias gu='git pull & git submodule update --init --recursive'

