# Application bindings
$terminal = uwsm app -- $TERMINAL
$browser = omarchy-launch-browser

bindd = SUPER, return, Terminal, exec, $terminal --working-directory="$(omarchy-cmd-terminal-cwd)"
bindd = SUPER, F, File manager, exec, uwsm app -- nautilus --new-window
bindd = SUPER, B, Browser, exec, $browser
bindd = SUPER SHIFT, B, Browser (private), exec, $browser --private
bindd = SUPER, M, Music, exec, omarchy-launch-or-focus cider
bindd = SUPER, N, Editor, exec, omarchy-launch-editor
bindd = SUPER, O, Obsidian, exec, omarchy-launch-or-focus obsidian "uwsm app -- obsidian -disable-gpu --enable-wayland-ime"
bindd = SUPER, slash, Passwords, exec, omarchy-launch-or-focus bitwarden-desktop

# If your web app url contains #, type it as ## to prevent hyperland treat it as comments
bindd = SUPER, A, ChatGPT, exec, omarchy-launch-webapp "https://chatgpt.com"
bindd = SUPER SHIFT, A, Grok, exec, omarchy-launch-webapp "https://grok.com"
bindd = SUPER, C, Calendar, exec, omarchy-launch-webapp "https://app.hey.com/calendar/weeks/"
bindd = SUPER, E, Email, exec, omarchy-launch-webapp "https://app.hey.com"
bindd = SUPER, Y, YouTube, exec, omarchy-launch-or-focus-webapp YouTube "https://youtube.com/"
bindd = SUPER SHIFT, G, WhatsApp, exec, omarchy-launch-or-focus-webapp WhatsApp "https://web.whatsapp.com/"
bindd = SUPER ALT, G, Google Messages, exec, omarchy-launch-or-focus-webapp "Google Messages" "https://messages.google.com/web/conversations"
bindd = SUPER, X, X, exec, omarchy-launch-webapp "https://x.com/"
bindd = SUPER SHIFT, X, X Post, exec, omarchy-launch-webapp "https://x.com/compose/post"

bindd = SHIFT, F11, Force full screen, fullscreen, 0

unbind = SUPER SHIFT, code:10
unbind = SUPER SHIFT, code:11
unbind = SUPER SHIFT, code:12
unbind = SUPER SHIFT, code:13
unbind = SUPER SHIFT, code:14
unbind = SUPER SHIFT, code:15
unbind = SUPER SHIFT, code:16
unbind = SUPER SHIFT, code:17
unbind = SUPER SHIFT, code:18
unbind = SUPER SHIFT, code:19

# SUPER + [1-0] → Switch to workspace 1-10 on HDMI-A-1
bindd = SUPER, 1, Switch to workspace 1, workspace, 1
bindd = SUPER, 2, Switch to workspace 2, workspace, 2
bindd = SUPER, 3, Switch to workspace 3, workspace, 3
bindd = SUPER, 4, Switch to workspace 4, workspace, 4
bindd = SUPER, 5, Switch to workspace 5, workspace, 5
bindd = SUPER, 6, Switch to workspace 6, workspace, 6
bindd = SUPER, 7, Switch to workspace 7, workspace, 7
bindd = SUPER, 8, Switch to workspace 8, workspace, 8
bindd = SUPER, 9, Switch to workspace 9, workspace, 9
bindd = SUPER, 0, Switch to workspace 10, workspace, 10

# SUPER + SHIFT + [1-0] → Move window to workspace 1-10 on HDMI-A-1
bindd = SUPER SHIFT, 1, Move to workspace 1, movetoworkspacesilent, 1
bindd = SUPER SHIFT, 2, Move to workspace 2, movetoworkspacesilent, 2
bindd = SUPER SHIFT, 3, Move to workspace 3, movetoworkspacesilent, 3
bindd = SUPER SHIFT, 4, Move to workspace 4, movetoworkspacesilent, 4
bindd = SUPER SHIFT, 5, Move to workspace 5, movetoworkspacesilent, 5
bindd = SUPER SHIFT, 6, Move to workspace 6, movetoworkspacesilent, 6
bindd = SUPER SHIFT, 7, Move to workspace 7, movetoworkspacesilent, 7
bindd = SUPER SHIFT, 8, Move to workspace 8, movetoworkspacesilent, 8
bindd = SUPER SHIFT, 9, Move to workspace 9, movetoworkspacesilent, 9
bindd = SUPER SHIFT, 0, Move to workspace 10, movetoworkspacesilent, 10

{{ if and .dev_computer (not .laptop) }}
# ALT + [1-9,0,-,=] → Switch to workspace 11-21 on DP-1
bindd = ALT, 1, Switch to workspace 11, workspace, 11
bindd = ALT, 2, Switch to workspace 12, workspace, 12
bindd = ALT, 3, Switch to workspace 13, workspace, 13
bindd = ALT, 4, Switch to workspace 14, workspace, 14
bindd = ALT, 5, Switch to workspace 15, workspace, 15
bindd = ALT, 6, Switch to workspace 16, workspace, 16
bindd = ALT, 7, Switch to workspace 17, workspace, 17
bindd = ALT, 8, Switch to workspace 18, workspace, 18
bindd = ALT, 9, Switch to workspace 19, workspace, 19
bindd = ALT, 0, Switch to workspace 20, workspace, 20

bindd = ALT SHIFT, 1, Move to workspace 11, movetoworkspacesilent, 11
bindd = ALT SHIFT, 2, Move to workspace 12, movetoworkspacesilent, 12
bindd = ALT SHIFT, 3, Move to workspace 13, movetoworkspacesilent, 13
bindd = ALT SHIFT, 4, Move to workspace 14, movetoworkspacesilent, 14
bindd = ALT SHIFT, 5, Move to workspace 15, movetoworkspacesilent, 15
bindd = ALT SHIFT, 6, Move to workspace 16, movetoworkspacesilent, 16
bindd = ALT SHIFT, 7, Move to workspace 17, movetoworkspacesilent, 17
bindd = ALT SHIFT, 8, Move to workspace 18, movetoworkspacesilent, 18
bindd = ALT SHIFT, 9, Move to workspace 19, movetoworkspacesilent, 19
bindd = ALT SHIFT, 0, Move to workspace 20, movetoworkspacesilent, 20
{{ end }}

unbind = SUPER, SPACE
bindd = SUPER, SPACE, Omarchy menu, exec, omarchy-menu

unbind = SUPER, D
bindd = SUPER, D, Walker, exec, walker

unbind = SUPER, F
bindd = SUPER, F, Full width, fullscreen, 1

#unbind = SUPER, W 
#unbind = SUPER, Q 
#bindd = SUPER, Q, Close active window, killactive,

bindd = SUPER SHIFT, S, Screenshot, exec, omarchy-cmd-screenshot smart clipboard

unbind = SUPER, H
unbind = SUPER, J
unbind = SUPER, K
unbind = SUPER, L

unbind = SUPER SHIFT, H
unbind = SUPER SHIFT, J
unbind = SUPER SHIFT, K
unbind = SUPER SHIFT, L

# bindd = SUPER, H, Focus left, left
# bindd = SUPER, J, Focus bottom, bottom
# bindd = SUPER, K, Focus top, top
# bindd = SUPER, L, Focus right, right
#
# bindd = SUPER SHIFT, H
# bindd = SUPER SHIFT, J
# bindd = SUPER SHIFT, K
# bindd = SUPER SHIFT, L

bind = SUPER CONTROL, K, exec, ~/.local/share/omarchy/bin/omarchy-menu-keybindings

bind = SUPER, S, togglesplit

bind = SUPER, H, movefocus, l
bind = SUPER, J, movefocus, d
bind = SUPER, K, movefocus, u
bind = SUPER, L, movefocus, r

bind = SUPER SHIFT, H, swapwindow, l
bind = SUPER SHIFT, J, swapwindow, d
bind = SUPER SHIFT, K, swapwindow, u
bind = SUPER SHIFT, L, swapwindow, r
